---
import LayoutBase from '../layouts/Base.astro';
import LayoutContainer from '../layouts/Container.astro';
// import ComponentTest from '../components/Test.tsx';
---

<LayoutBase title="Budgetyze">
  <LayoutContainer>
    <h1>Budgetyze</h1>
    <p>🚧 Coming Soon! 🚧</p>
    <h2>An easy-to-use budgeting app that works for you!</h2>
    <p>
      Track and categorize your transactions and see your budgets at a glance,
      to help you meet your financial goals!
    </p>
    <h4>Features:</h4>
    <ul>
      <li>Lightning-quick transaction entry</li>
      <li>Clean and clear budget category organization</li>
      <li>Custom timeframe selections</li>
      <li>Subscribe to a tiny monthly fee to enable cross-device syncing</li>
    </ul>
  </LayoutContainer>
</LayoutBase>
